<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <!-- logout button. we have to include method because HTTP will use "get" unless otherwise told. we're telling it to use the delete method -->
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:'btn btn-xs btn-danger' %>
    <%= yield %>
  </body>
</html>
